.Aqua{
    color:indigo;
    font-size: 200%;
    font-weight: bolder;
    font-family: comic sans ms;
    line-height: 0px;
}
.Bold{
    font-weight: bolder;
    font-size: large;
}
.right {
    position:relative;
    right: 10px;
}
.left {
    position:relative;
    left: 300px;
}
.Aqua1{
    color:indigo;
    font-size: 200%;
    font-weight: bolder;
    font-family: comic sans ms;
    margin-top: 50px;
    line-height: 0px;
}
.Aqua2{
    color:indigo;
    font-size: 200%;
    font-weight: bolder;
    font-family: comic sans ms;
    margin-top: 20px;
    line-height: 0px;
}