body {
    margin: 0;
    padding: 0;
}

.headder {
    height: 50px;
    width: 100%;
    background-color: #fff;
    box-shadow: 2px 2px 5px rgb(149, 149, 149);
    position: relative;
    z-index: 5;

}

.nav-bar {
    display: flex;
    width: 1000px;
    height: 50px;
    margin: 0px auto;
    font-family: 'Prompt';
    justify-content: space-between;
}

#p-name {
    margin: 0;
    font-size: 16px;
    padding-top: 9px;
    padding-right: 242.5px;
    font-weight: normal;
    justify-content: left;
    line-height: 16px;
}


#Logo001 {
    width: 50px;
    height: 50px;
    margin: 0;
    margin-left: 30px;
}

.nav-link {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

.nav-link li {
    display: inline-block;
    padding: 0px 10px;
}

#homebtn a {
    color: #fff;
    background-color: #00a8ff;
    border: #00a8ff 1px;
    border-radius: 5px;
}

#homebtn a:hover {
    color: #00a8ff;
    background-color:#fff;
    transition: 0.3s ease;
}

.nav-link li a {
    padding: 0px 5px;
    text-decoration: none;
    font-size: 15pt;
    color: #00a8ff;
    background-color: #fff;
    border: #fff 1px;
}

.nav-link li a:hover{
    color: #fff;
    background-color: #00a8ff;
    border: #00a8ff 1px;
    border-radius: 5px;
    transition: 0.3s ease;
}

#login01 {
    padding: 0px 20px;
    margin: 8px 10px;
    margin-right: 50px;
    text-align: right;
    color: #fff;
    background-color: #00a8ff;
    border: solid #00a8ff;
    border-radius: 5px;
    font-size: 15pt;
    text-decoration: none;
}

#login01:hover {
    color: #00a8ff;
    background-color:#fff;
    transition: 0.3s ease;
}

.MAIN {
    width: 1000px;
    margin: auto;
}

.assignment-bg {
    position: relative;
}

#assignment-bg {
    width: 1000px;
    height: 1000px;
    position: relative;
    z-index: 1;
}

.assignmain {
    padding: 10px;
    width: 750px;
    position: relative;
    z-index: 4;
    margin-top: -1000px;
    margin-left: 116px;
    /* background-color: red; */
    font-family: 'Prompt';
    text-align: center;
}

#assign-headder1 {
    color: rgb(255, 208, 0);
    text-align: center;
    font-weight: 600;
    font-size: 60px;
    margin: 0;
    margin-top: 10px;
    text-shadow: 3px 3px 0px rgb(255, 60, 0);
}

#assign-headder {
    color: rgb(255, 250, 0);
    text-align: center;
    font-weight: 600;
    font-size: 40px;
    margin: 0;
    text-shadow: 3px 3px 0px rgb(255, 123, 0);
}

#assign-detail {
    margin: 0;
    margin-top: 5px;
    font-size: 30px;
    color: #000;
    text-shadow: 3px 3px 0px rgba(0,0,0, 0.3);
}

#assign-textsender {
    margin-top: 40px;
    font-size: 20px;
    color: #000;
    padding: 10px;
    background-color: rgba(255,255,255, 1);
    border: 5px solid #205fd4;
    border-radius: 10px;
    box-shadow: 6px 6px 0px rgba(0,0,0, 0.3);
    text-shadow: 1.5px 1.5px 1px rgba(0,0,0, 0.2);
}


#assign-submit{
    margin-top: 100px;
    font-size: 50px;
    font-weight: 500;
    padding: 10px 50px;
    color: rgba(255,255,255, 1);
    background-color: #205fd4;
    border-radius: 10px;
    border: 0px;
    box-shadow: 5px 5px 2px rgba(0,0,0, 0.5);
}

#assign-submit:hover {
    background-color: #fff;
    color: #205fd4;
}