@import 'https://fonts.googleapis.com/css?family=Kanit|Prompt';

body {
    margin: 0;
    padding: 0;
}

.headder {
    height: 50px;
    width: 100%;
    background-color: #fff;
    box-shadow: 2px 2px 5px rgb(149, 149, 149);
    position: relative;
    z-index: 5;
    
}

.nav-bar {
    display: flex;
    width: 1000px;
    height: 50px;
    margin: 0px auto;
    font-family: 'Prompt';
    justify-content: space-between;
}

#p-name {
    margin: 0;
    font-size: 15px;
    padding-top: 3px;
    padding-right: 200px;
    font-weight: normal;
    justify-content: left;
}


#Logo001 {
    width: 50px;
    height: 50px;
    margin: 0;
    margin-left: 30px;
}

.nav-link {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

.nav-link li {
    display: inline-block;
    padding: 0px 10px;
}

.nav-link li a {
    padding: 0px 5px;
    text-decoration: none;
    font-size: 15pt;
    color: #00a8ff;
    background-color: #fff;
    border: #fff 1px;
}

.nav-link li a:hover{
    color: #fff;
    background-color: #00a8ff;
    border: #00a8ff 1px;
    border-radius: 5px;
    transition: 0.3s ease;
}

#homebtn a {
    color: #fff;
    background-color: #00a8ff;
    border: #00a8ff 1px;
    border-radius: 5px;
}

#homebtn a:hover {
    color: #00a8ff;
    background-color:#fff;
    transition: 0.3s ease;
}

#login01 {
    padding: 0px 20px;
    margin: 8px 10px;
    margin-right: 50px;
    text-align: right;
    color: #fff;
    background-color: #00a8ff;
    border: solid #00a8ff;
    border-radius: 5px;
    font-size: 15pt;
    text-decoration: none;
}

#login01:hover {
    color: #00a8ff;
    background-color:#fff;
    transition: 0.3s ease;
}

#home01 {
    padding: 0px 20px;
    margin: 8px 10px;
    margin-right: 50px;
    text-align: right;
    color: #fff;
    background-color: #00a8ff;
    border: solid #00a8ff;
    border-radius: 5px;
    font-size: 15pt;
    text-decoration: none;
}

#home01:hover {
    color: #00a8ff;
    background-color:#fff;
    transition: 0.3s ease;
}

.MAIN {
    width: 1000px;
    margin: auto;
}

.index-bg {
    position: relative;
}

#index-bg {
    width: 1000px;
    height: 1000px;
    position: relative;
    z-index: 4;    
}

.row {
    display: flex;
    margin-top: 10px;
    /* grid-template-columns: auto auto auto; */
}
 
.row .col {
    margin-left: 5px;
    margin-bottom: 5px;
}
 
.card img {
    width: 100%;
    /* ตรงนี้สามารถปรับเปลี่ยนได้ตามความเหมาะสม */
    position: relative;
    z-index: 5;
    border-radius: 10px;
}

.card h3 {
    text-align: center;
    position: relative;
    z-index: 5;
    font-family: 'Prompt';
    color: #fff;
    text-shadow: 5px 5px 3px rgba(0,0,0,0.5);
}

.contain{
    position: relative;
    z-index: 7;
    width: 800px;
    margin:0px auto;
    margin-top: -950px;
}

#Subject{
    font-family:'Prompt';
    font-size:60px;
    color:#fff;
    text-shadow: 5px 5px 3px rgba(0,0,0,0.5);
}

#TEXTname{
    font-size: 50px;
    margin-top: 10px;
}
